#settings #customize-categories {
  padding: 4rem 1.5rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}


#customize-categories h3 {
  font-size: 2rem;
  color: #000;
}

#customize-categories #add-category,
#customize-categories #delete-category {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 16px 0px 24px 0px;
  border-bottom: solid 1px var(--main-text-color);
}


#customize-categories form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#customize-categories form label {
  margin-bottom: 4px;
}

#customize-categories form > * {
  width: 100%;
}

#add-category input,
#delete-category select {
  margin-bottom: 8px;
}

#delete-category select {
  padding: 7px 0;
  border-radius: 6px;
  border: solid 1.5px #141c3a;
  font-size: 18px;
}

#delete-category select option {
    font-size: 26px;
    text-transform: capitalize;
  }

#customize-categories button {
  padding: 6px 12px;
  border-radius: 6px;
  border: solid 1px #141c3a;
  font-size: 18px;
  font-weight: bold;
  background: var(--white);
  cursor: pointer;
}

#add-category button:hover,
#add-category button:focus,
#delete-category select:hover,
#delete-category select:focus {
  background-color: #141c3a;
  color: #ffffff;
}
