/* -------------------------------------------- transaction records ---------------------*/

.transaction-list-section {
    padding: 12px 10.5px 11px 16px;
    border-radius: 6px;
    border: solid 1px #141c3a;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: bold;
  }
  
  .transaction-list-section h3 {
    font-size: clamp(16px, 3.5vw, 2.4rem);
  }
  
  .transaction-list {
    list-style: none;
    padding: 0;
  }
  
  .transaction-record {
    display: flex;
    padding: 5px 0;
  }
  
  .description {
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
  }
  
  .transaction-record button {
    margin-left: auto;
    background: white;
    border: solid 1px #141c3a;
    border-radius: 5%;
    height: 20px;
    width: 20px;
    padding: 10px 8px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
  }
  
  .transaction-record button:hover,
  .transaction-record button:focus {
    color: white;
    background-color: red;
  }
  