:root {
    --main-text-color: #141c3a;
    --light-blue: #e3e6ff;
    --is-open-transition-time: 300ms;
  }

#settings-menu #settings-container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 25vw;
  margin-top: 1.5rem;
}


#settings-container h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  /* color: #fff;
  background-color: var(--main-text-color); */
}

#settings-container .setting-button {
  width: 100%;
}

.setting {
  display: flex;
  flex-direction: column;
  padding: 16px 0px 24px 0px;
  border-bottom: solid 1px var(--main-text-color);
}


#settings-container form > * {
  width: 100%;
}


#add-category input,
#delete-category select {
  margin-bottom: 8px;
  height: 4rem;
}


#delete-category select {
  border-radius: 6px;
  font-size: 18px;
  text-transform: capitalize;
}

#delete-category select option {
    font-size: 2rem;
  }

.setting button.submit {
  padding: 6px 12px;
  border-radius: 6px;
  border: solid 1px #141c3a;
  font-size: 18px;
  font-weight: bold;
  background: var(--white);
  cursor: pointer;
}

.setting button.submit:hover,
.setting button.submit:focus {
  background-color: #141c3a;
  color: #ffffff;
}


.setting button.submit.prevent,
.setting button.submit.prevent:hover,
.setting button.submit.prevent:focus {
  cursor: auto;
  opacity: 0.3;
  background: var(--white);
  color: var(--main-text-color);
}