:root {
    --main-text-color: #141c3a;
    --light-blue: #e3e6ff;
    --is-open-transition-time: 300ms;
  }

#settings-menu #settings-container {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  max-width: 25vw;
  margin-top: 1.5rem;
  margin-right: 1rem;
}


#settings-container h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  /* color: #fff;
  background-color: var(--main-text-color); */
}

#settings-container .setting-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0.4rem 1rem 0;
  border: none;
  border-radius: 10px 0 0 10px;
  /* border: 2px solid var(--main-text-color);
  border-radius: 8px 0 0 8px; */
  background-color: inherit;
}

#settings-container .setting-button:hover {
  cursor: pointer;
}

#settings-container .setting-button:focus {
  outline: 3px solid var(--main-text-color);
}

.setting-button .button-text {
 margin: 0; 
}

#add-category-container .button-text {
  letter-spacing: 0.15rem;

}

.setting-button .icon {
  margin-left: 0.25rem;
}

.setting-button .icon.left {
  transition: transform 120ms;
}

.setting-button .icon.down {
  transform: rotate(-90deg);
}





form.setting {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 0 1.5rem;
  margin: 1rem 0;
}



#settings-container form.setting > * {
  width: 90%;
}


#add-category input,
#delete-category select {
  margin-bottom: 8px;
  height: 4rem;
}


#delete-category select {
  border-radius: 6px;
  font-size: 18px;
  text-transform: capitalize;
}

#delete-category select option {
    font-size: 2rem;
  }

.setting button.submit {
  padding: 6px 12px;
  border-radius: 6px;
  border: solid 1px #141c3a;
  font-size: 18px;
  font-weight: bold;
  background: var(--white);
  cursor: pointer;
}

.setting button.submit:hover,
.setting button.submit:active {
  background-color: #141c3a;
  color: #ffffff;
}


.setting button.submit.prevent,
.setting button.submit.prevent:hover,
.setting button.submit.prevent:active {
  cursor: auto;
  opacity: 0.3;
  background: var(--white);
  color: var(--main-text-color);
}