:root {
    --main-text-color: #141c3a;
    --light-blue: #e3e6ff;
    --light-brown-hsl-codes: 40 21% 53%;
  }

#settings-menu #settings-container {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  max-width: 25vw;
  margin-top: 1.5rem;
}

.setting-container {
  position: relative;
}

.setting-container .setting-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 1rem 1rem 0;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: var(--light-blue);
  border-right: 7px solid var(--light-blue);
  transition: all 0.25s;
}

.setting-container .setting-button.open {
  border-right: 7px solid var(--main-text-color);
}


.setting-container .setting-button:hover,
.setting-container .setting-button.open:hover {
  cursor: pointer;
  background-color: hsl(40 18% 53% / 0.20);  
  backdrop-filter: blur(5px);
  border-right: 7px solid hsl(227 49% 15% / 0.78);
}

.setting-container .setting-button:active,
.setting-container .setting-button.open:active {
  background-color: hsl(227 49% 15% / 0.05);
  transform: scale(1.05);
}

.setting-button .button-text {
 margin: 0; 
}

#add-category-container .button-text {
  letter-spacing: 0.18rem;
  margin-right: -0.12rem;

}

.setting-button .icon {
  margin-left: 0.45rem;
  margin-right: 1rem;
}

.setting-button .icon.left {
  transition: transform 120ms;
}

.setting-button .icon.down {
  transform: rotate(-90deg);
}

.setting-container .form-container {
  /* transition section */
  /* height for open/closed state is set inside the corresponding setting function component */
  margin: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 400ms;
  pointer-events: none;
  z-index: 0;
}


.setting-container .form-container.open {
  pointer-events: auto;
  margin: 1rem 0;
  opacity: 1;
  transform: translateY(0);
}


form.setting {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 0 1.5rem;
}



#settings-container form.setting > *,
#settings-container #select-currency {
  width: 90%;
  margin-right: 1.4rem;
  min-height: 4rem;
}


#add-category input,
#delete-category select {
  margin-bottom: 8px;
  height: 4rem;
}


#delete-category select {
  border-radius: 6px;
  font-size: 18px;
  text-transform: capitalize;
}

#delete-category select option {
    font-size: 2rem;
  }

.setting button.submit {
  padding: 6px 12px;
  border-radius: 6px;
  border: solid 1px #141c3a;
  font-size: 18px;
  font-weight: bold;
  background: var(--white);
  cursor: pointer;
}

.setting button.submit:hover,
.setting button.submit:active {
  background-color: #141c3a;
  color: #ffffff;
}


.setting button.submit.prevent,
.setting button.submit.prevent:hover,
.setting button.submit.prevent:active {
  cursor: auto;
  opacity: 0.3;
  background: var(--white);
  color: var(--main-text-color);
}