:root {
  --main-text-color: #141c3a;
  --light-blue: #e3e6ff;
  --light-brown-hsl-codes: 40 21% 53%;
}

/* -------------------------------------------- transaction records ---------------------*/

.transaction-list-section {
  padding: 12px 10.5px 11px 16px;
  border-radius: 6px;
  border: solid 1px #141c3a;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.transaction-list-container {
  margin: 0 2%;
}

.transaction-list-container.margin-bottom {
  margin: 2% 2%;
}

.expense.transaction-list-container {
  padding-bottom: 2rem;
}

.transaction-list-container h3 {
  font-size: clamp(16px, 3.5vw, 2.4rem);
  padding: 0.4rem;
}

.transaction-list {
  list-style: none;
  padding: 0;
  font-weight: normal;
  /* font-style: italic; */
}

/* --------------------------------------------------------------- transaction list table settings ---*/

table.transaction-list {
  width: 100%;
  font-size: 1.3rem;
}

table.transaction-list thead tr {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

table.transaction-list tr.transaction {
  border-bottom: 1px solid black;
  /* box-shadow: 0px 1px 0px 0px rgb(0, 0, 0); */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

table.transaction-list td {
  padding: 0.3rem;
  padding-bottom: 0;  
  margin-bottom: 0.15rem;
  margin-top: 1rem;
}

td.description {
  width: 30%;
}

td.amount,
td.prev-budget-total,
td.current-budget-total,
td.expenses-total,
td.note {
  width: 10%;
}

td.delete {
  width: 5%;
}


/* --------------------------------------------------------------- grid settings for transaction rows/records */



.transaction-list .amount-positive {
  color: green;
  font-weight: 600;
  font-style: normal;
}

.transaction-list .amount-negative,
.transaction-list .amount-expense {
  color: red;
  font-weight: 600;
  font-style: normal;
}

.transaction-list .delete {
  display: flex;
  justify-content: end;
  align-items: center;
  border: none;
}



.transaction-list .delete button {
  /* margin-left: auto; */
  /* background-color: lightblue; */
  border: solid 1px #141c3a;
  border-radius: 5px;
  height: 2rem;
  width: 2rem;
  padding: 10px 8px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  transition: all 120ms;
}

.transaction-list .delete button:hover {
  transform: scale(1.3);
}

.transaction-list .delete button:hover,
.transaction-list .delete button:focus {
  color: white;
  background-color: red;
}
