:root {
  --main-text-color: #141c3a;
  --light-blue: #e3e6ff;
  --light-brown-hsl-codes: 40 21% 53%;
}

/* -------------------------------------------- transaction records ---------------------*/

.transaction-list-section {
  padding: 12px 10.5px 11px 16px;
  border-radius: 6px;
  border: solid 1px #141c3a;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.transaction-list-section p,
.transaction-list-section h6 {
  margin: 0;
}

.transaction-list-section h3 {
  font-size: clamp(16px, 3.5vw, 2.4rem);
}

.transaction-list {
  list-style: none;
  padding: 0;
  font-weight: normal;
  /* font-style: italic; */
}

/* --------------------------------------------------------------- transaction list table settings ---*/

table.transaction-list td {
  border: 2px solid black;
}

/* --------------------------------------------------------------- grid settings for transaction rows/records */



.transaction-list .amount-positive {
  color: green;
  font-weight: 600;
  font-style: normal;
}

.transaction-list .amount-negative,
.transaction-list .amount-expense {
  color: red;
  font-weight: 600;
  font-style: normal;
}

.transaction-list .delete-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}



.transaction-list button.delete {
  /* margin-left: auto; */
  /* background-color: lightblue; */
  border: solid 1px #141c3a;
  border-radius: 5px;
  height: 2rem;
  width: 2rem;
  padding: 10px 8px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  transition: all 120ms;
}

.transaction-list button.delete:hover {
  transform: scale(1.3);
}

.transaction-list button.delete:hover,
.transaction-list button.delete:focus {
  color: white;
  background-color: red;
}
