/* -------------------------------------------- budgets section ------------------------------------- */

.all-budgets-container ul {
  padding: 0;
}

.all-budgets-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 48px;
  text-align: center;
}

.budget-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
  margin-bottom: 24px;
  list-style: none;
  padding: 16px 0px 24px 0px;
  border-bottom: solid 1px var(--main-text-color);
}

.category-label {
  color: var(--gray);
  font-size: 15px;
  font-weight: bold;
}

.category-value {
  text-transform: capitalize;
}

.budget-container .data-wrapper {
  flex: 0 2 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.budget-form {
  flex: 0 0 auto;
  display: flex;
  gap: 16px;
}

.budget-form > * {
  max-width: 100px;
}

.budget-form .submit-button {
  padding: 6px 12px;
  border-radius: 6px;
  border: solid 1px #141c3a;
  font-size: 18px;
  font-weight: bold;
  background: var(--white);
  cursor: pointer;
}

.budget-form .submit-button:hover,
.budget-form .submit-button:focus {
  background-color: #141c3a;
  color: #ffffff;
}

.budget-form .submit-button.prevent {
    opacity: 0.5;
    filter: blur(0.5px);
}


.remaining-funds.positive {
  color: var(--blue);
}

.remaining-funds.negative {
  color: var(--red);
}
