:root {
  --main-text-color: #141c3a;
  --light-blue: #e3e6ff;
  --open-menu-transition-time: 300ms;
}

/* -------------------------------------------------------- settings-button */
#settings-menu-container {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: none;
}

#settings-menu-container.open {
  pointer-events: auto;
  /* background-color: #e3e6ff; */
 }


#settings-menu-container .button-frame {
  background-color: #e3e6ff;
  width: 100%;
  border-left: 2px solid rgba(20, 28, 58, 1);
  z-index: 3;
}


#settings-menu-container button#settings-menu-button {
  pointer-events: auto;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  z-index: 1;
  background-color: transparent;
}



#settings-menu-container.open button#settings-menu-button {
  border: 0px solid rgba(20, 28, 58, 1);
  padding: 1px 6px;
  background-color: inherit;
}

#settings-menu-container button#settings-menu-button:hover {
  cursor: pointer;
}

#settings-menu-container button#settings-menu-button svg {
  color: rgba(20, 28, 58, 0.9);
  font-size: 4rem;
  transition: transform var(--open-menu-transition-time);
}

#settings-menu-container.open button#settings-menu-button svg {
  transform: rotate(540deg);
}

/* -------------------------------------------------------------- settings */

#settings-menu {
  /* display: flex;
  flex-direction: column; */
  padding-bottom: 2rem;
  padding-left: 0.3rem;
  z-index: 4;
  background-color: var(--light-blue);
  border-radius: 0 0 0 10%;
  border: 2px solid rgba(20, 28, 58, 1);
  border-right: none;
  border-top: none;
}


/* ------------------------------------------------------ transitions for settings menu open/close  */

#settings-menu,
#settings-menu-container .button-frame {
  opacity: 0;
  transform: scale(0);
  transform: translate(100%, -100%);
  transition: all var(--open-menu-transition-time);
}


#settings-menu.open,
#settings-menu-container.open .button-frame {
  /* right: 0%;
  top: 0%; */
  opacity: 1;
  transform: scale(1);
  transform: translate(0%, 0%);
}

/* ---------------------------------------------------------- custom scroll bar styles */


#settings-menu {
  height: 32vh;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
}

#settings-menu > * {
  direction: ltr;
}

#settings-menu::-webkit-scrollbar {
  width: 15px;
}

#settings-menu::-webkit-scrollbar-track {
  background: hsl(100 100% 100% / 0);
  border-radius: 100vw;
  margin-block-start: 0.3em;
  margin-block-end: 1.5em;
}

#settings-menu::-webkit-scrollbar-thumb {
  background: hsl(227 49% 15% / 0.75);
  border: 3.5px solid var(--light-blue);
  border-left: 5px solid var(--light-blue);
  border-radius: 100vw;
  
}

#settings-menu::-webkit-scrollbar-thumb:hover {
  background: var(--main-text-color);
}

/* support for firefox */
@supports (scrollbar-color: red blue) {
  #settings-menu {
    scrollbar-color: hsl(100 100% 100% / 0) hsl(227 49% 15% / 0.75);
    /* scrollbar-width: thin; */
  }
  
}



